#root {
  display: grid;
  height: 100%;
  place-content: center;
}

.tile {
  height: 60px;
  width: 60px;
}

.d-flex {
  display: flex;
}

.color1 {
  --c1: #cc9933;
  --c2: #ffcc33;
}

.color2 {
  --c1: #90ee90;
  --c2: #006400;
}

.tile {
  background-image: conic-gradient(var(--c1) 90deg, var(--c2) 90deg 180deg, var(--c1) 180deg 270deg, var(--c2) 0);
  background-size: 5px 5px;
}
