#root {
  display: grid;
  height: 100%;
  place-content: center;
}

.tile {
  height: 40px;
  width: 40px;
}

.d-flex {
  display: flex;
}

.grid {
  border: solid 1px;
}

.checks {
  background-image: conic-gradient(#fbc 90deg, transparent 90deg 180deg, #fbc 180deg 270deg, transparent 0);
  background-size: 40px 40px;
}
